<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
	<script>
	var sno=1;
	$(()=>{
	$('#datatablesSimple').DataTable();
        var tableBody = $('table tbody');
	getStudents();
	var branchMap=new Map();
	var semesterMap=new Map();
	var semesterSelect=$('#semester');
	var branchSelect=$('#branch');
	$.ajax({
        url:'/getBranch',
        method:'GET',
        dataType:'json',
        success:function(data){
	var branches=data.result;
        for(var i=0;i<branches.length;i++)
	{
	branchMap.set(branches[i].title,branches[i].code);
	var newOption=$('<option>');
	newOption.text(branches[i].title);
	branchSelect.append(newOption);
	}
	console.log(branchMap);
        },
        error:function(error){
        console.log('error');
        }
        });
	 $.ajax({
        url:'/getSemester',
        method:'GET',
        dataType:'json',
        success:function(data){
	var semesters=data.result
        for(var i=0;i<semesters.length;i++)
        {
        semesterMap.set(semesters[i].title,semesters[i].code);
	var newOption=$('<option>');
        newOption.text(semesters[i].title);
        semesterSelect.append(newOption);
        }
        console.log(semesterMap);
        },
        error:function(error){
        console.log('error');
        }
        });
	$('#addBranch').click(function(){
	var branch=$('#otherBranch').val();
	var branchData=new FormData();
	branchData.append('title',branch);
	$.ajax({
        url:'/addBranch',
        method:'POST',
	data:branchData,
        processData: false,
    	contentType: false,
    	xhrFields: {
      	// This is required to allow sending FormData
      	withCredentials: false
    	},
	success:function(data){
	branchMap.set(branch,data.result);
	var newOption=$('<option>');
        newOption.text(branch);
        branchSelect.append(newOption);
        },
        error:function(error){
        console.log('error');
        }
        });
	});
	$('#addSemester').click(function(){
        var semester=$('#otherSemester').val();
	var semesterData=new FormData();
	semesterData.append('title',semester);
        $.ajax({
        url:'/addSemester',
        method:'POST',
        data:semesterData,
        processData: false,
    	contentType: false,
    	xhrFields: {
      	// This is required to allow sending FormData
      	withCredentials: false
    	},
	success:function(data){
	semeseterMap.set(semester,data.result);
	var newOption=$('<option>');
        newOption.text(semester);
        semesterSelect.append(newOption);
        },
        error:function(error){
        console.log('error');
        }
        });
        });
	$('#saveButton').on('click',function(){
	var studentData=new FormData();
	var rollNumber=$('#rollNumber').val();
	var firstName=$('#firstName').val();
	var lastName=$('#lastName').val();
	var emailId=$('#emailID').val();
	var password=$('#password').val();
	var branch=$('#branch').val();
	var semester=$('#semester').val();
	alert(branchMap.get(branch));
	alert(semesterMap.get(semester));
	studentData.append('rollNumber',rollNumber);
	studentData.append('firstName',firstName);
	studentData.append('lastName',lastName);
	studentData.append('emailID',emailId);
	studentData.append('password',password);
	studentData.append('branchCode',branchMap.get(branch));
	studentData.append('semesterCode',semesterMap.get(semester));
	alert(studentData);
	$.ajax({
        url:'/addStudent',
        method:'POST',
        data:studentData,
        processData: false,
        contentType: false,
        xhrFields: {
        // This is required to allow sending FormData
        withCredentials: false
        },
        success:function(data){
        var newRow = $('<tr>');
            newRow.append($('<td>').text(sno));
            newRow.append($('<td>').text(rollNumber));
            newRow.append($('<td>').text(firstName));
            newRow.append($('<td>').text(lastName));
            newRow.append($('<td>').text(emailId));
            newRow.append($('<td>').text(semester));
            newRow.append($('<td>').text(branch));
            sno=sno+1;
            tableBody.append(newRow); 
	},
        error:function(error){
        console.log('error');
        }
        });
	});
	});
	function addDataInTable(data)
	{
        var tableBody = $('table tbody');
	var students=data.result;
	alert(JSON.stringify(students));
	for(var i=0;i<students.length;i++)
	{
	    var newRow = $('<tr>');
            newRow.append($('<td>').text(sno));
            newRow.append($('<td>').text(students[i].rollNumber));
            newRow.append($('<td>').text(students[i].firstName));
            newRow.append($('<td>').text(students[i].lastName));
            newRow.append($('<td>').text(students[i].emailID));
            newRow.append($('<td>').text(students[i].semesterBean.title));
            newRow.append($('<td>').text(students[i].branchBean.title));
	    sno=sno+1;
            tableBody.append(newRow);
	}
	//$('#datatablesSimple').DataTable();
	}
        function getStudents()
        {
        $.ajax({
        url:'/getStudents',
        method:'GET',
        dataType:'json',
        success:function(data){
        addDataInTable(data);
        },
        error:function(error){
        console.log('error');
        }
        });
        }
    	</script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
				Student Table
				<!-- Button trigger modal -->
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Default Bootstrap Modal</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
	    <input type='text' id='rollNumber' name='rollNumber' placeholder='Roll Number' style='margin-left:20px;margin-right:20px;'><br>
	    <input type='text' id='firstName' name='firstName' placeholder='First Name' style='margin-left:20px;margin-right:20px;'><br>
	    <input type='text' id='lastName' name='lastName' placeholder='Last Name' style='margin-left:20px;margin-right:20px;'><br>
	    <input type='email' id='emailID' name='emailId' placeholder='Email' style='margin-left:20px;margin-right:20px;'><br>
	    <input type='password' id='password' name='password' placeholder='Password' style='margin-left:20px;margin-right:20px;'><br>
	    <select id='branch'>
 		<option value="" disabled selected>Select Branch</option>
		</select>
	    <input type='text' id='otherBranch' name='otherBranch' placeholder='other branch' style='margin-left:20px;margin-right:20px;'>
	   <button id='addBranch' type='submit'>Add</button>
<br>
	    <select id='semester'>
		<option value="" disabled selected>Select Semester</option>
	    <input type='text' id='otherSemester' name='otherSemester' placeholder='other semester' style='margin-left:20px;margin-right:20px;'>
	    <button id='addSemester' type='submit'>Add</button>
	<br>
	</select>
	   </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" id="saveButton" type="submit">Save changes</button></div>
        </div>
    </div>
</div>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>RollNo</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email Address</th>
                                            <th>Semester</th>
					    <th>Branch</th>
                                        </tr>
                                    </thead>
				    <tfoot>
                                        <tr>
                                            <th>S.No</th>
                                            <th>RollNo</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email Address</th>
                                            <th>Semester</th>
                                            <th>Branch</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
